/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Main */

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow: -1px -1px 6px #57C3FF;*/
}

h1, h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: 700;
  margin: 0.8em 0 0.5em 0;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 0.5em;
  margin: 0.2em;
  background: rgb(23, 202, 173);
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-shadow: -1px -1px 1px rgb(0, 143, 120);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(0, 143, 120);
}

.button:hover {
  background: rgb(0, 181, 255);
}

.morning, .late-morning, .afternoon, .late-afternoon,
.evening, .late-evening, .night, .latenight {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.latenight {
  background-image: url('../images/landscape/background-latenight.png');
}

.dusk {
  background-image: url('../images/landscape/background-dusk.png');
}

.morning {
  background-image: url('../images/landscape/background-morning.png');
}

.afternoon {
  background-image: url('../images/landscape/background-afternoon.png');
}

.evening {
  background-image: url('../images/landscape/background-evening.png');
}

.night {
  background-image: url('../images/landscape/background-night.png');
}

// .sunmoon {
//   position: absolute;
//   background-position: center top;
//   z-index: 10;
//   width: 164px;
//   height: 165px;
//   background-image: url('../images/landscape/sunmoon-latenight.png');
//   border-radius: 80px;
// }

// Landscape Positions

// Sun and Moon Colors
$sunmoon-afternoon: ;

.sunmoon {
  position: absolute;
  // box-shadow: 0px 0px 200px;
  
  -webkit-filter: drop-shadow(5px 5px 45px rgba(238,235,223,.7));
}

.meridian {
  font-size: 0.4em;
  font-weight: 300;
  margin: 0 0.4em;
}

.commits-box, .steps-box {
  position: absolute;
  top: 2em;
  width: 400px;
  text-align: center;
  z-index: 1000;
}

.commits-box {
  right: 1em;
}

.steps-box {
  left: 1em;
}

.chart {
  width: 350px;
  height: 350px;
  padding: 10px;
}

.chart-container {
  margin: 1em;
}

/* Stego Dinosaur */
.stego-container {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

// Stego Moods
.happy {
  // background: gold;
}

.neutral {
  // background: mediumturquoise;
}

.sad {
  // background: midnightblue;
}

// Stego Asset Sizes
$eye-size: 14px;
$body-width: 227px;
$body-height: 326px;
$leftarm-width: 73px;
$leftarm-height: 68px;
$rightarm-width: 35px;
$rightarm-height: 64px;
$leftleg-width: 36px;
$leftleg-height: 27px;
$rightleg-width: 39px;
$rightleg-height: 30px;
$mouth-width: 84px;
$mouth-height: 21px;
$tail-width: 122px;
$tail-height: 96px;

// Stego Asset Positions (X,Y)
$left-eye-pos: 40px,100px;
$right-eye-pos: 120px,105px;
$leftarm-pos: -4px, 105px;
$rightarm-pos: 120px, 203px;
$leftleg-pos: 60px, 310px;
$rightleg-pos: 115px, 310px;
$mouth-pos: 45px,137px;
$tail-pos: 155px,225px;

// Stego Z-Indexes
$body-z: 7;
$eye-z: 8;
$leftarm-z: 6;
$rightarm-z: 8;
$leftleg-z: 7;
$rightleg-z: 7;
$mouth-z: 8;
$tail-z: 6;


.stego-body {
  margin: 0 auto;
  width: $body-width;
  height: $body-height;
  background-image: url('../images/stego-parts/stego-body.png');
  z-index: $body-z;
}

.eye {
  background-color: black;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: $eye-size;
  height: $eye-size;
  position: absolute;
  z-index: $eye-z;
}

.eye.left-eye {
  transform: translate($left-eye-pos);
}

.eye.right-eye {
  transform: translate($right-eye-pos);
}

.mouth {
  width: $mouth-width;
  height: $mouth-height;
  background-image: url('../images/stego-parts/stego-mouth.png');
  position: absolute;
  transform: translate($mouth-pos);
  z-index: $mouth-z;
}

.left-arm {
  width: $leftarm-width;
  height: $leftarm-height;
  position: absolute;
  background-image: url('../images/stego-parts/stego-leftarm.png');
  transform: translate($leftarm-pos);
  z-index: $leftarm-z;
  /*-webkit-animation: wave 1s linear infinite;*/
}

.right-arm {
  width: $rightarm-width;
  height: $rightarm-height;
  position: absolute;
  background-image: url('../images/stego-parts/stego-rightarm.png');
  transform: translate($rightarm-pos);
  z-index: $rightarm-z;
}

.left-leg {
  width: $leftleg-width;
  height: $leftleg-height;
  background-image: url('../images/stego-parts/stego-leftleg.png');
  position: absolute;
  transform: translate($leftleg-pos);
  z-index: $leftleg-z;
}

.right-leg {
  width: $rightleg-width;
  height: $rightleg-height;
  background-image: url('../images/stego-parts/stego-rightleg.png');
  position: absolute;
  transform: translate($rightleg-pos);
  z-index: $rightleg-z;
}

.tail {
  width: $tail-width;
  height: $tail-height;
  background-image: url('../images/stego-parts/stego-tail.png');
  position: absolute;
  transform: translate($tail-pos);
  z-index: $tail-z;
}

/*Animations*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    -webkit-transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(-35px, 158px, 200px);
  }
}


.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}
