/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// Landscape Keyframes
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Animation mixins
@mixin rotating {
  -webkit-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}

@mixin wave {
  -webkit-animation-name: wave;
  animation-name: wave;
}


@mixin fadein {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

/* Main */

html, img {
  @include fadein;
}


body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow: -1px -1px 6px #57C3FF;*/
}

h1, h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: 700;
  margin: 0.8em 0 0.5em 0;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 0.5em;
  margin: 0.2em;
  background: rgb(23, 202, 173);
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-shadow: -1px -1px 1px rgb(0, 143, 120);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(0, 143, 120);
}

.button:hover {
  background: rgb(0, 181, 255);
}

.latenight, .dawn, .morning, .afternoon, .evening, .night {
  @include fadein;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-size: cover;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.time-of-day.active {
  opacity: 1;
}


// Background Images
.latenight {
  background-image: url('../images/landscape/background-latenight.png');
}

.dawn {
  background-image: url('../images/landscape/background-dawn.png');
}

.morning {
  background-image: url('../images/landscape/background-morning.png');
}

.afternoon {
  background-image: url('../images/landscape/background-afternoon.png');
}

.evening {
  background-image: url('../images/landscape/background-evening.png');
}

.night {
  background-image: url('../images/landscape/background-night.png');
}

// Landscape Images
.landscape {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom center;
  z-index: -1;
  @include fadein;
}

.landscape.latenight {
  background-image: url('../images/landscape/landscape-latenight.png');
}

.landscape.dawn {
  background-image: url('../images/landscape/landscape-dawn.png');
}

.landscape.morning {
  background-image: url('../images/landscape/landscape-morning.png');
}

.landscape.afternoon {
  background-image: url('../images/landscape/landscape-afternoon.png');
}

.landscape.evening {
  background-image: url('../images/landscape/landscape-evening.png');
}

.landscape.night {
  background-image: url('../images/landscape/landscape-night.png');
}

// Landscape Positions

// Sun and Moon Colors

.sunmoon-latenight {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(238,235,223,1));
  right: 20%;
  top: 7%;
}

.sunmoon-dawn {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(254,138,13,1));
  left: 5%;
  top: 8%;
}

.sunmoon-morning {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(254,194,43,1));
  left: 25%;
  top: 0;
}

.sunmoon-afternoon {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(254,186,16,1));
  right: 25%;
  top: 0;
}

.sunmoon-evening {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(254,138,13,1));
  right: 5%;
  top: 25%;
}

.sunmoon-night {
  z-index: -2;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 55px rgba(238,235,223,1));
  left: 20%;
  top: 7%;
  @include rotating;
}

.meridian {
  font-size: 0.4em;
  font-weight: 300;
  margin: 0 0.4em;
}

.commits-box, .steps-box {
  position: absolute;
  top: 2em;
  width: 400px;
  text-align: center;
  z-index: 1000;
}

.commits-box {
  right: 1em;
}

.steps-box {
  left: 1em;
}

.chart {
  width: 350px;
  height: 350px;
  padding: 10px;
  background: #fff;
}

.chart-container {
  margin: 1em;
}

.line {
  stroke-width: 1px;
  stroke-opacity: 0.5;
  stroke: #17caad;
}

.axis {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Helvetica;
  font-size: 12px;
}

.clock {
  position: absolute;
  left: 0;
  right: 0;
}

.panel-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.panel {
  width: 500px;
  z-index: 1000;
  padding: 1em;
  color: #fff;
  background: rgba(5, 5, 5, 0.9);
  -webkit-box-shadow: 1px 1px 10px #222;
  box-shadow: 1px 1px 10px #222;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.commits-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.steps-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}

.commits-panel-button {
  bottom: 10px;
  right: 10px;
}

.steps-panel-button {
  bottom: 10px;
  left: 10px;
}

.panel-button {
  position: fixed;
  z-index: 2000;
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0.2em;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.panel-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.panel, .panel-button {
  -webkit-transition: transform 400ms ease-in;
  transition: transform 400ms ease-in;
}

/* Stego Dinosaur */
.dino-container {
  position: absolute;
  margin: auto;
  bottom: 8%;
  left: 0;
  right: 0;
}

// Stego Moods
.happy {
  // background: gold;
}

.neutral {
  // background: mediumturquoise;
}

.sad {
  // background: midnightblue;
}



// Stego Asset Sizes
$eye-size: 14px;
$body-width: 227px;
$body-height: 326px;
$leftarm-width: 35px;
$leftarm-height: 93px;
$rightarm-width: 35px;
$rightarm-height: 64px;
$leftleg-width: 36px;
$leftleg-height: 27px;
$rightleg-width: 39px;
$rightleg-height: 30px;
$mouth-width: 84px;
$mouth-height: 21px;
$tail-width: 122px;
$tail-height: 96px;

// Stego Asset Positions (X,Y)
$left-eye-pos: 40px,100px;
$right-eye-pos: 120px,105px;
$leftarm-pos: 40px, 208px;
$rightarm-pos: 120px, 203px;
$leftleg-pos: 60px, 310px;
$rightleg-pos: 115px, 310px;
$mouth-pos: 45px,137px;
$tail-pos: 155px,225px;

// Stego Z-Indexes
$body-z: 7;
$eye-z: 8;
$leftarm-z: -1;
$rightarm-z: 8;
$leftleg-z: 7;
$rightleg-z: 7;
$mouth-z: 8;
$tail-z: 6;

// Stego Timing
$blink-seconds: 4s;
$blink-delay: 2s;
$wave-seconds: 1.5s;
$wave-delay: 1s;
$right-arm-sway-seconds: 4s;
$tail-sway-seconds: 3s;


/* Stego Keyframe Animations */

// Left Eye Blink
@-webkit-keyframes left-eye-blink {
  0% {transform: translate($left-eye-pos) scale(1,1);}
  2% {transform: translate($left-eye-pos) scale(1,0);}
  3% {transform: translate($left-eye-pos) scale(1,0);}
  10% {transform: translate($left-eye-pos) scale(1,1);}
  100% {transform: translate($left-eye-pos) scale(1,1);}
}

@mixin left-eye-blink {
  -webkit-animation: left-eye-blink $blink-seconds linear infinite;
  animation-delay: $blink-delay;
}

// Right Eye Blink
@-webkit-keyframes right-eye-blink {
  0% {transform: translate($right-eye-pos) scale(1,1);}
  2% {transform: translate($right-eye-pos) scale(1,0);}
  3% {transform: translate($right-eye-pos) scale(1,0);}
  10% {transform: translate($right-eye-pos) scale(1,1);}
  100% {transform: translate($right-eye-pos) scale(1,1);}
}

@mixin right-eye-blink {
  -webkit-animation: right-eye-blink $blink-seconds linear infinite;
}

// Left Hand Wave
@-webkit-keyframes wave {
  0% {transform: translate($leftarm-pos) rotate(0deg)};
  20% {transform: translate($leftarm-pos) rotate(135deg)};
  30% {transform: translate($leftarm-pos) rotate(105deg)};
  40% {transform: translate($leftarm-pos) rotate(135deg)};
  45% {transform: translate($leftarm-pos) rotate(135deg)};
  80% {transform: translate($leftarm-pos) rotate(0deg)};
}

@mixin wave {
  -webkit-animation: wave $wave-seconds $wave-delay;
}

// Right Arm Sway
@-webkit-keyframes right-arm-sway {
  0% {transform: translate($rightarm-pos) rotate(-2.5deg)};
  50% {transform: translate($rightarm-pos) rotate(2.5deg)};
  100% {transform: translate($rightarm-pos) rotate(-2.5deg)};
}

@mixin right-arm-sway {
  -webkit-animation: right-arm-sway $right-arm-sway-seconds ease-in-out infinite;
}

// Tail Sway
@-webkit-keyframes tail-sway {
  0% {transform: translate($tail-pos) rotate(0deg)};
  50% {transform: translate($tail-pos) rotate(2deg)};
  100% {transform: translate($tail-pos) rotate(0deg)};
}

@mixin tail-sway {
  -webkit-animation: tail-sway $tail-sway-seconds ease-in-out infinite;
}


// .animated {
//   -webkit-animation-duration: 1s;
//   animation-duration: 1s;
// }

// .animated.infinite {
//   -webkit-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;
// }

// .animated {
//   -webkit-animation-duration: 1s;
//   animation-duration: 1s;
//   -webkit-animation-delay: .5s;
//   animation-delay: .5s;
//   @include wave;
// }



.stego-body {
  margin: 0 auto;
  width: $body-width;
  height: $body-height;
  background-image: url('../images/stego-parts/stego-body.png');
  z-index: $body-z;
}

.eye {
  background-color: black; 
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: $eye-size;
  height: $eye-size;
  position: absolute;
  z-index: $eye-z;
}

.eye.left-eye {
  @include left-eye-blink;
  // transform: translate($left-eye-pos);
}

.eye.right-eye {
  @include right-eye-blink;
  // transform: translate($right-eye-pos);
}

.mouth {
  width: $mouth-width;
  height: $mouth-height;
  background-image: url('../images/stego-parts/stego-mouth.png');
  position: absolute;
  transform: translate($mouth-pos);
  z-index: $mouth-z;
}

.left-arm {
  width: $leftarm-width;
  height: $leftarm-height;
  position: absolute;
  background-image: url('../images/stego-parts/stego-leftarm.png');
  transform: translate($leftarm-pos);
  transform-origin: center top;
  z-index: $leftarm-z;
  @include wave;
}

.right-arm {
  width: $rightarm-width;
  height: $rightarm-height;
  position: absolute;
  background-image: url('../images/stego-parts/stego-rightarm.png');
  transform: translate($rightarm-pos);
  transform-origin: center top;
  z-index: $rightarm-z;
  @include right-arm-sway;
}

.left-leg {
  width: $leftleg-width;
  height: $leftleg-height;
  background-image: url('../images/stego-parts/stego-leftleg.png');
  position: absolute;
  transform: translate($leftleg-pos);
  z-index: $leftleg-z;
}

.right-leg {
  width: $rightleg-width;
  height: $rightleg-height;
  background-image: url('../images/stego-parts/stego-rightleg.png');
  position: absolute;
  transform: translate($rightleg-pos);
  z-index: $rightleg-z;
}

.tail {
  width: $tail-width;
  height: $tail-height;
  background-image: url('../images/stego-parts/stego-tail.png');
  position: absolute;
  transform-origin: center left;
  transform: translate($tail-pos);
  z-index: $tail-z;
  @include tail-sway;
}
